/* ********* CSS COMUNE ********** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

.dotted {
    border: 2px dashed black;
}

.padd-top-bottom {
    padding: 3rem 0;
}

.back-white {
    background-color: white;
}

.back-grey {
    background-color: #D3D3D3;
}

/* ************* regole header ************ */

header {
    background-color: #ADD8E6;
    padding-bottom: 0.3rem;
}

/* ************* regole menu dentro header ************ */

.logo,
.nav,
.login {
    background-color: #DAA53B;
    margin: 1rem 0;
}

.logo {
    width: 20%;
    padding: 0.5rem;
}

.nav {
    text-align: center;
    width: 60%;
    padding: 0.5rem;
}

.login {
    text-align: right;
    width: 20%;
    padding: 0.5rem;
}


/* ************* regole sfondo blu box rosa dentro header ************ */

.back-blue {
    background-color: #0A238B;
}

.box-rosa {
    background-color: #EE82EE;
    width: 50%;
    height: 300px;
    margin: auto;
}

/* ****************** fine header *********************** */

/* ******************** regole main ******************** */
 
.col-blue {
    height: 400px;
    width: 60%;
    background-color: #2A8FF7;
 }

 .col-pink {
    height: 400px;
    width: 40%;
    background-color: #F6BFCA;
 }

 .box-green {
    height: 750px;
    width: 60%;
    margin: 0 auto;
    background-color: #3F8B24;
 }

 /* ********************* fine main ***********************/